---
import Example from '../../components/Example.astro'
---

<Example title="Ejemplo 1: Fetching de citas de gatos">
    <button
    class="border border-white px-4 py-2 rounded"
    hx-trigger="click"
    hx-get="/partials/Cat-fact"
    hx-target="#result"
    >
    ¡Dame una curiosidad sobre gatos!
</button>
<div id="result" class="flex flex-center mx-auto p-6"></div>
</Example>
