---
import Example from "../../components/Example.astro"
---

<Example title="Buscador de películas">
    <div class="mb-5 max-w-xl mx-auto pb-2">
        <label for="base-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Busca tu película favorita
        </label>
        <input
            type="search"
            name="search"
            id="basee-input"
            hx-post="/partials/Movies"
            hx-trigger="input changed delay:500ms"
            hx-target="#results"
            hx-swap="innerHTML transition:true"
            placeholder="Avengers, The matrix"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white  dark:foocus:ring-blue-500 dark:focus:border-blue-500"
        >

    </div>
    <ul id="results" class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl mx-auto"></ul>
</Example>
